.add-user-button-container {
    position: absolute;
    bottom: 48px;
    right: 48px;
}

th {
    color: rgba(0,0,0,0.6)
}

.user-table-data-row {
    &:not(:last-of-type) {
            border-bottom: 1px solid rgba(0,0,0,0.3);
    }

    cursor: pointer;

    td {
        padding: 12px 0px;
    }

    &:hover {
        background-color: rgba(0,0,0,0.1);
    }
}